*
!.gitignore
!database
!server
!git_deploy
!mini_world_ER_1.drawio
!README.md
!.env
!src
!src/**
!src/**/*.js
!public
!public/**
!public/**/*
!default.conf
!docker-compose.yml
!package.json
!package-lock.json
